page-settings {
    .toolbar-title-md {
        text-align: center;
        margin-left: -23px;
     // margin-left: -45px;
    }
    .toolbar-title-ios {
        text-align: center;
    }

    .checkbox-md .checkbox-checked {
        border-color: #545454;
        background-color: #FFF;
}
.checkbox-ios .checkbox-checked {
    border-color: #545454;
    background-color: #FFF;
}
.checkbox-checked .checkbox-inner {
    border-color:#48C8FB ! important;
}
.button-md {
    display: flex;   
    color: white;
    background-color:rgba(39, 202, 251, 1);
    margin: auto ! important;
    margin-top:25px ! important;
    border-radius: 7px;
    height:4.5rem;
    width: 45%;
    box-shadow:none;
    -webkit-box-shadow:none;
}
.button-ios {
  display: flex;    
  color: white;
  background-color:rgba(39, 202, 251, 1);
  margin: auto ! important;
  margin-top:25px ! important;
  border-radius: 7px;
  height:4.5rem;
  width: 45%;
  box-shadow:none;
  -webkit-box-shadow:none;
}
.label-md {
    color:#545454;
}
.label-ios {
    color:#545454;
}
.list-md {
    margin: 0px;
    border-bottom: 1px solid #545454;
}
.list-ios {
    margin: 0px;
    border-bottom: 1px solid #545454;
}
.item-md{
    border-bottom: 1px solid #DEDEDE;
    padding-left:0px;   
}
ion-navbar[hidebackbutton] button[menutoggle] {
    display: block !important;
  }
//   .item-cover{

//     margin-left: 25px;
//   }

.checkbox-md .checkbox-checked .checkbox-inner {
    left: 6px;
    top: -5px;
    position: absolute;
    width: 7px;
    height: 16px;
}
.checkbox-ios .checkbox-checked .checkbox-inner {
    left: 6px;
    top: -5px;
    position: absolute;
    width: 7px;
    height: 16px
}
.scroll-content {
    padding-left:25px ! important;
}
.label-md{
    color:#7c7c7c;
}
.label-ios{
    color:#7c7c7c;
}
.item-md.item-block .item-inner {
    border-bottom: 0px solid #FFF;
}
}