<ion-menu [content]="content">

    <ion-content>
        <div class="img-container">
            <img style="display: block;  width: 100%;" src="assets/imgs/bg_banner.png">
            <div class="top-right" (click)="closeMenu()" >
                <img width="25" style="display: block;" src="assets/icon/menu_reverse.png">
            </div>
            <div class="centered">
                <img width="70" style="display: block;" src="assets/imgs/side-menu-pic.png">
                <p style="margin-top:0px;color:white;text-align: center">Finura Dios</p>
                <p style="margin-top:-20px">
                        <span style="font-size: 0.9rem;" >Entrepreneur</span>
                        <span style="padding-left: 4px;">World Traveller</span>
                </p>
            </div>
        </div>

            <!-- <ion-item *ngFor="let p of pages;let i=index" (click)="openPage(p)">
               <ion-icon style="font-size:1.7rem;color:#555555;display: inline-flex"> <img src="{{p.logo}}" width="19" height="19" style="margin-bottom: 0px;margin-right:15px;">{{p.title}}</ion-icon>
               
            </ion-item> -->

            <ion-item *ngFor="let p of pages;let i=index" (click)="openPage(p)" >
                <ion-row>
                    <ion-col col-2>
                            <ion-icon> <img src="{{p.logo}}" width="20" height="20" style="margin-bottom: 0px;"></ion-icon>
                    </ion-col>
                    <ion-col col-10>
                        <p style="padding-top:2px">{{p.title}}</p>  </ion-col>
                </ion-row>   
             </ion-item>

             <!-- <ion-item  (click)="openPage(p)">
                <ion-icon style="font-size:1.7rem;color:#555555;display: inline-flex"> <img src="assets/icon/logout.png" width="19" height="19" style="margin-bottom: -3px;margin-right:15px;">Logout</ion-icon> 
             </ion-item> -->
       
    </ion-content>
    <style>
        .input-wrapper {
            border-bottom: 1px solid #545454 !important;
        }
        .img-container {
            position: relative;
            height: 130px;
            background: linear-gradient(180deg, rgba(103, 226, 249, 5) 30%, rgba(103, 226, 249, 10) 3%, rgba(72, 200, 252, 1) 100%); 
        }
        .top-right {
            position: absolute;
            top: 15px;
            right: 16px;
        }
        .centered {
            position: absolute;
            top: 62%;
            left: 50%;
            text-align: -webkit-center;
            transform: translate(-50%, -50%);
        }
        p span:not(:first-child){
        border-left:1px solid #FFF;
    }
    span{
        padding:0 1px;
        font-size: 0.9rem;
        color:#FFF;
        text-align:center;

    }
    .label-md{
        font-size:0.5rem;
        font-family: "Loto-Regular"
    }
    .label-ios{
        font-size:1.2rem;
        font-family: "Loto-Regular"
    }

/* .list-md > .item-block:last-child {
    border-bottom: 1px solid #dedede ! important;
} */
.list-md .item-block .item-inner{
    border-bottom: 1px solid #dedede ! important;
}
.list-ios .item-block .item-inner{
    border-bottom: 1px solid #dedede ! important;
}
.item-md {
    min-height: 6.2rem;
  
}
.item-ios {
    min-height: 6.2rem;
  
}

</style>
</ion-menu>
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>